<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22713666035-8p8ha2h992dr690ubh237n70raal4sn4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22713666035-8p8ha2h992dr690ubh237n70raal4sn4</string>
	<key>API_KEY</key>
	<string>AIzaSyBhM11a_J248L_YqQD43YMmXsTpDdG1ESo</string>
	<key>GCM_SENDER_ID</key>
	<string>22713666035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.briskita.wedme</string>
	<key>PROJECT_ID</key>
	<string>wedme-b960a</string>
	<key>STORAGE_BUCKET</key>
	<string>wedme-b960a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22713666035:ios:0cba149db30da932a2ea86</string>
</dict>
</plist>